.my-card-wrapper {
  width: 600px;
  margin: 50px;
  padding: 20px;
  border-radius: 10%;
  border: 3px solid #ccc;
  display: inline-block;
  font-family: sans-serif;
}
.card-custom {
  width: 250px;
  margin: 30px;
  padding: 20px;
  border-radius: 10%;
  border: 2px solid red;
}
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: lightblue;
  margin-right: 30px;
}
.btn-react {
  background-color: #f44336;
}
.my-input-textbox {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}
